<header class="bg-white border-b">
  <nav class="mx-auto max-w-7xl flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <!-- Logo a la izquierda -->
    <div class="flex lg:flex-1">
      <a (click)="redirectToHome()" class="cursor-pointer -m-1.5 p-1.5 flex items-center gap-2">
        <svg
          class="w-6 h-6 text-gray-600 group-hover:text-indigo-600"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33"
          />
        </svg>
        <span class="text-xl font-bold tracking-tight">Jacobitus</span>
      </a>
    </div>

    <!-- Nav principal -->
    <div class="hidden lg:flex lg:items-center lg:gap-x-12">
      <a (click)="redirectToFirmaV2()" class="cursor-pointer text-sm font-semibold leading-6 text-gray-900">
        Firma Digital V2
      </a>

      <a (click)="redirectToFirmaV3()" class="cursor-pointer text-sm font-semibold leading-6 text-gray-900">
        Firma Digital V3
      </a>
    </div>

    <!-- Portafolio a la derecha (link externo) -->
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a
        href="https://victordanielquino.netlify.app/"
        target="_blank"
        rel="noopener noreferrer"
        class="cursor-pointer -m-1.5 p-1.5 flex items-center gap-2"
      >
        <!-- Icono Email -->
        <svg
          class="w-6 h-6 text-gray-600 group-hover:text-indigo-600"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25H4.5a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0l-9.75 7.5L2.25 6.75m19.5 0A2.25 2.25 0 0019.5 4.5H4.5a2.25 2.25 0 00-2.25 2.25"
          />
        </svg>
        <span class="text-xl font-bold tracking-tight">Portafolio</span>
      </a>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
